.post {
    border: 1px solid rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 20px;
    width: 500px;
}
.post-img {
    width: 500px;
}

.post-comment-author {
    font-weight: 900;
}

.link {
    cursor: pointer;
}