#home {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.post {
    border: 1px solid rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 20px;
}
