#create-modal-backshadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.39);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

#create-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    padding: 40px;
    top: 20px;
    border: 2px solid black;
    background-color: white;
}

.create-modal-input {
    width: 20em;
}

#create-modal-close {
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    top: -20px;
    right: 25px;
    color: red;
    cursor: pointer;
    user-select: none;
}
#create-modal-close:hover {
    transform: scale(1.1);
}